{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="wrapper">
	<div class="post-content">
	  <ul class="posts">
		{{ $baseurl := .Site.BaseURL }}
		{{ range $name, $page := .Site.RegularPages }}
		{{ if eq .Type "post" }}
		<li>
		  {{ if .Draft }}
		  DRAFT: 
		  {{ end }}
		  <a href="{{ .Permalink }}">{{ $page.Title }}</a>

		  <p class="footnote">
			<time>{{ $page.Date.Format "Jan 2, 2006" }}</time>
		  </p>
		</li>
		{{ end }}
		{{ end }}
	  </ul>
	  {{ .Content }}
	</div>
</div>

{{ partial "footer.html" . }}
